<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous">


    </script>
    <h1>Selection with Jquery</h1>
    <p>you can use the $ sign to select element from the DOM == queryselectorall()</p>
    <p>for exemple :</p>
    <ul>
      <li>Selection all a tags <ul>
        <li>$('a')</li>
      </ul></li>
      <li>Selection class container <ul>
        <li>$('.container')</li>
      </ul></li>
      <li>Selection by id<ul>
        <li>$('#special')</li>
      </ul></li>
    </ul>
    <h1>here are Some inputs</h1>
    <h2>Later on we will use jquerry to interact with them</h2>

    <input type="text" name="" value="Enter your name">
    <input type="submit" name="" value="Submit">


    <form class=""  method="post">
      <p> </p>
      {{form.as_p}}

      {%  csrf_token%}
      {{form2.as_p}}
      
      <input type="submit" name="" value="submit">
    </form>

<script src="C:\Users\scrim\Desktop\Course HTML\jquery\basic.js" charset="utf-8"></script>

  </body>
</html>
