<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Course sign up page</h3>
    <p>Please enter user and password</p>
    <form action="C:\Users\scrim\Desktop\Course HTML\basic.html" method="get">
      <label for="user">First name</label>
      <input id="user" type="text" name="user" placeholder="Enter name" required>
      <label for="last">Last Name</label>
      <input id= "last" type="text" name="last" placeholder="Last Name" required >
      <p></p>
      <label for="email">Email</label>
      <input id = "email" type="email" name="email" placeholder="Enter an Email" required>
      <label for="pass">password</label>
      <input id = "pass" type="password" name="password" placeholder="Enter a password" required>


      <p>Are you over 18</p>
      <label for="yes"> Yes</label>
      <input id ="yes" type="radio" name="yes_no" value="yes">
      <label for="no">No</label>
      <input id= "no" type="radio" name="yes_no" value="no">
      <p>Do you have credit card or paypal</p>
      <select  name="payment">
        <option value="card">Credit card</option>
        <option value="paypal">Paypal</option>

      </select>
      <p></p>
      <input type="submit" name="" value="Sign in">
    </form>
  </body>
</html>
